{# app/Ressources/TwigBundle/views/Exception/exception.html.twig #}
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron">
            <h1>
                {{ exception.message|nl2br|format_file_from_text }}
            </h1>

            <h2>
                <strong>{{ status_code }}</strong> {{ status_text }} - {{ exception.class|abbr_class }}
            </h2>
        </div>
    </div>
</div>
